@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden; /* Remove rolagem horizontal */
    scroll-behavior: smooth;
  }

  .slider-item {
    transition: opacity 0.3s ease;
  }
  
  
  /* Esconde a barra de rolagem dentro do slider */
  .slider-container::-webkit-scrollbar {
    display: none;
  }
  
  
  /* Barra de progresso customizada */
  .scrollbar {
    height: 5px;
    background: #ffb225;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform-origin: left;
    transition: transform 0.3s ease;
    border-radius: 4px;
  }
  
  /* Personalização da barra de rolagem principal */
  body::-webkit-scrollbar {
    width: 10px; /* Largura da barra */
  }
  
  body::-webkit-scrollbar-track {
    background: #1f1f1f; /* Cor de fundo da barra */
  }
  
  body::-webkit-scrollbar-thumb {
    background: #ffb225; /* Cor da barra (polegar) */
    border-radius: 4px; /* Borda arredondada */
  }

  .voltarbtn {
    @apply py-8 px-6 text-terceiracor text-xl items-center font-semibold bg-segundacor rounded-r-full hover:scale-110 duration-300;
  }  
  

  .categorias {
    @apply min-w-[50%] flex flex-col items-center md:min-w-[27%] p-2 rounded-lg snap-center;
  }
  
  .categorias img {
    @apply w-44 rounded-full border-primeiracor border-2;
   }
  
   .categorias p {
     @apply mt-2 text-center font-semibold text-2xl text-segundacor;
   }

   h1 {
    @apply text-terceiracor font-bold text-6xl;
   }

   h6 {
    @apply text-xl md:text-3xl font-bold mb-6 text-center text-segundacor;
   }

  .cardempresas {
    @apply block bg-terceiracor rounded-t-3xl rounded-b-lg overflow-hidden hover:shadow-lg hover:scale-105 duration-300;
  }